body, a {
        font-family: arial,sans-serif;
        text-align: center;
        text-decoration:none;
        
}
.googlepng{
        margin-top: 240px;
}
.menuleft{
        list-style: none;
        float: left;
        margin-left: 30px;   

}
.menuright{
        list-style: none;
        float: right;
        margin-right: 20px;

}
button{
        background-color: rgb(94, 192, 238);
        border-radius: 50% 20% / 10% 40%;
        /* Benim tarzıla :)) */
        border: white;
        text-decoration: none;
        font-size: 16px;
        margin: 2px 2px;
        color: rgb(7, 7, 7);
}
.inp{
        background-color: rgb(255, 251, 251);
        border-radius: 2px;
        border-color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 16px;
        margin: 14px 6px;
        color: rgb(7, 7, 7);
}
.search{
        border-radius: 20px;
        width: 500px;
        height: 30px;
}